/* ===== variable CSS ==== */
:root {
    --primary-color: #1FAA59;
    --first-color: #333;
    --second-color: white;
    ---third-color: #ED6B4F;
    --fourth-color: #e2e0e0;
    --fifth-color: #999;
}

/* ------------------------------
 --------- Common Style ----------
-------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--fourth-color);
}

.section {
    display: flex;
    justify-content: center;
}

.container {
    padding: 30px;
    width: 870px;
    border-radius: 10px;
    margin-top: 21px;
    background-color: var(--second-color);
}

/* ------------------------------
 ----------- Navbar ------------
-------------------------------- */
.nav-container {
    background-color: var(--fourth-color);
    display: flex;
    justify-content: center;
}

.navbar {
    width: 870px;
    height: 94px;
    padding: 0 30px;
    border-radius: 8px;
    background-color: var(--second-color);
    display: grid;
    grid-template-columns: 350px auto;
}

.logo a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 50px;
    margin-right: 5px;
}

.logo span {
    color: var(--primary-color);
    font-size: 1.5em;
}

.logo {
    display: flex;
    align-items: center;
}


.menu {
    display: grid;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.user {
    font-size: 1.9em;
    color: var(--primary-color);
}

.link {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.3em;
    position: relative;
}

.link::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -10px;
    left: 0;
    transform: scale(0);
    transition: transform 300ms ease-in;
    transform-origin: right;
}

.link:hover::after {
    transform: scale(1);
    transform-origin: left;
}

/* ------------------------------
 ------- Top Freelancers ---------
-------------------------------- */
.freelancers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 29px;
}

h1 {
    color: var(--primary-color);
    font-size: 24px;
}

h3 {
    color: var(--first-color);
    font-size: 18px;
}

.freelancer img {
    width: 56px;
    height: 56px;
    margin-right: 16px;
}

.freelancer {
    display: flex;
    align-items: center;
}

hr {
    border: 1px solid var(--fifth-color);
    margin: 30px 0;

}

/* ------------------------------
 ------- Top Blogs ---------
-------------------------------- */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}

.blog {
    display: flex;
    align-items: center;
}

.blog-img img {
    width: 177px;
    height: 117px;
    margin-right: 16px;
}

.blog p {
    color: var(--fifth-color);
}

.blog a {
    text-decoration: none;
    color: var(--primary-color);
}